debugvenv
tmp
data
artifacts
logs
output
**/checkpoints/
.idea
dist
**/__pycache__/
tests/plugins
tests/examples
tests/primitives
.vscode
python-venv
jax2onnx.log
*.onnx
*.onnx.data
/jax2onnx.iml  
 tmp/gpt-oss
tmp/
